<div class="col-sm-4">
    <div class="card">
        <div class="card-header">
            {% set chosenDate = month|slice(0,4) ~ '-' ~ month|slice(4,2) ~ '-01' %}
            {{ chosenDate|date('F') }}
        </div>
        <div class="card-body">
            <ul class="list-group">
            {% for day, item in items %}
                {% set currentDate = month|slice(0,4) ~ '-' ~ month|slice(4,2) ~ '-' ~ day %}
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-header">
                            <strong>{{ currentDate|date('l, d-m-Y') }}</strong>
                        </div>
                    <div class="card-body">
                    {% for key,cal in item %}
                        - {{ cal.ticker.fullname }} (${{ cal.cashAmount }})<br/>
                    {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
