includes:
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
parameters:
    excludePaths:
        - %currentWorkingDirectory%/migrations/*.php
        - %currentWorkingDirectory%/src/Kernel.php
    treatPhpDocTypesAsCertain: false
