includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    excludePaths:
        - %currentWorkingDirectory%/migrations/*.php
        - %currentWorkingDirectory%/src/Kernel.php
    treatPhpDocTypesAsCertain: false
