
<turbo-frame id="portfolio_tab_results">

<div class="flex flex-col">
	<div class="mx-auto" style="width:900px;height:600px">
		{{ render_chart(chartYield, {
					'data-controller': 'chartjs-add-percentage'
				}) }}
	</div>
	<div class="mx-auto" style="width:900px;height:600px">
		{{ render_chart(chartPayout, {
				'data-controller': 'chartjs-add-euro-sign'
			}) }}
	</div>
</div>

</turbo-frame>
