<form method="post" action="{{ path('app_taxonomy_delete', {'id': taxonomy.id}) }}" onsubmit="return confirm(' {{ 'Are you sure you want to delete this item?'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ taxonomy.id) }}">
    <div class="mt-2">
        <button class="btn btn-warning" title="{{ 'Delete'|trans }}"><i class="fas fa-trash"></i></button>
    </div>
</form>
