{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
<br/>
    <div class="alert alert-danger" role="alert"><i class="fas fa-exclamation-triangle"></i> Exception: {{ errorMessage}}</div>
{% endblock %}
