<form action="{{ path('position_search') }}" method="post">
<input type="hidden" name="_method" value="POST">
    <input type="text" name="searchCriteria" id="text_search" value="{{ searchCriteria ?? ''}}"/>
    <button class="btn btn-secondary">Search</button>
</form>
