<form action="{{ path('position_search') }}" method="post" class="form-inline">
<input type="hidden" name="_method" value="POST">
    <div class="form-group mx-sm-3 mb-2">
        <input class="form-control" type="text" name="searchCriteria" id="text_search" value="{{ searchCriteria ?? ''}}" placeholder="Search ticker"/>
    </div>
    <button class="btn btn-secondary mb-2" data-toggle="tooltip" data-placement="top" title="Search Ticker"><span class="fas fa-search"/></button>
</form>
