{% extends 'base.html.twig' %}

{% block title %}Allocation
{% endblock %}

{% block body %}
	<p class="h1">Allocation information</p>

    <div style="width:900px;height:600px">
        {{ render_chart(chart) }}
    </div>
{% endblock %}
