{% extends 'base.html.twig' %}

{% block title %}Allocation
{% endblock %}

{% block body %}
	<h1 class="block font-sans text-5xl font-semibold leading-tight tracking-normal text-inherit antialiased">
	{{ 'Allocation information'|trans }}
	</h1>

	{% include 'portfolio/_summary.html.twig' %}
	<br/>
	<br/>

	<section class="flex justify-center" >
		<div class="flex flex-col items-center gap-4 mb-6 bg-white shadow-md rounded-lg p-6" style="width:900px;height:600px">
        	{{ render_chart(chart) }}
    	</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('piechart') }}
{% endblock %}
