{% extends 'base.html.twig' %}

{% block title %}Allocation
{% endblock %}

{% block body %}
	<p class="h1">Allocation information</p>
	{% include '_summary.html.twig' %}
	<br/>
	<br/>

	<div style='width:900px;height:600px' class="col col-xs-12">
		<canvas id="myChartAllocation"></canvas>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('chart') }}
	{{ encore_entry_script_tags('app') }}
	{% include "report/_colors.html.twig" %}
	<script type="text/javascript">
		var config = {
			type: 'pie',
			data: {
				datasets: [
				{
					data: {{ data|raw }},
					backgroundColor: [
						"#0074D9",
						"#FF4136",
						"#2ECC40",
						"#FF851B",
						"#7FDBFF",
						"#B10DC9",
						"#FFDC00",
						"#001f3f",
						"#39CCCC",
						"#01FF70",
						"#85144b",
						"#F012BE",
						"#3D9970",
						"#111111",
						"#AAAAAA",
						"#0074D9",
						"#FF4136",
						"#2ECC40",
						"#FF851B",
						"#7FDBFF",
						"#B10DC9",
						"#FFDC00",
						"#001f3f",
						"#39CCCC",
						"#01FF70",
						"#85144b",
						"#F012BE",
						"#3D9970",
						"#111111",
						"#AAAAAA",
						"#0074D9",
						"#FF4136",
						"#2ECC40",
						"#FF851B",
						"#7FDBFF",
						"#B10DC9",
						"#FFDC00",
						"#001f3f",
						"#39CCCC",
						"#01FF70",
						"#85144b",
						"#F012BE",
						"#3D9970",
						"#111111",
						"#AAAAAA"
					],
					label: 'Allocation'
				}
				],
				labels: {{ labels|raw }}
			},
			options: {
				responsive: true,
				title: {
					display: true,
					fontSize: 24,
					text: 'Allocation per position'
				}
			}
		};

var ctxAllocation = document.getElementById('myChartAllocation').getContext('2d');
window.myPie = new Chart(ctxAllocation, config);
	</script>
{% endblock %}
