{% extends 'base.html.twig' %}

{% block title %}Allocation
{% endblock %}

{% block body %}
	<p class="h1">Allocation information</p>
	{% include '_summary.html.twig' %}
	<br/>
	<br/>
	<div style="width:900px;height:600px">
        {{ render_chart(chart) }}
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('piechart') }}
{% endblock %}
