{% extends 'base.html.twig' %}

{% block title %}Allocation
{% endblock %}

{% block body %}
	<p class="h1">Allocation information</p>
	{% include '_summary.html.twig' %}
	<br/>
	<br/>

	<div style='width:900px;height:600px' class="col col-xs-12">
		<canvas id="pieChartCanvas"></canvas>
	</div>
{% endblock %}

{% block javascripts %}
	{% include 'report/_colors.html.twig' %}
	<script>
		window.chartData = {{ data|json_encode|raw }};
		window.chartLabels = {{ labels|json_encode|raw }};
		window.chartTitle = 'Allocation';
		window.chartSubTitle = 'Allocation per position';
	</script>
	{{ encore_entry_script_tags('piechart') }}
{% endblock %}
