{% extends 'base.html.twig' %}

{% block title %}Allocation
{% endblock %}

{% block body %}
	<div class="flex w-full justify-center border rounded">
		<h1 class="font-sans text-5xl font-semibold leading-tight tracking-normal text-inherit antialiased">
		{{ 'Allocation information'|trans }}
		</h1>
	</div>

	<section class="flex justify-center " >
		<div class="flex flex-col w-1/2 items-center gap-4 mb-6 bg-white shadow-md rounded-lg p-6" style="height:900px">
        	{{ render_chart(chart) }}
    	</div>
	</section>
{% endblock %}
