<form method="post" action="{{ path('tax_delete', {'id': tax.id}) }}" onsubmit="return confirm(' {{ 'Are you sure you want to delete this item?'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tax.id) }}">
    <div class="mt-2">
        <button class="btn btn-warning" title="{{ 'Delete'|trans }}"><i class="fas fa-trash"></i></button>
    </div>
</form>
