{% extends 'base.html.twig' %}

{% block title %}New Research
{% endblock %}

{% block body %}
	<h1>Create new Research for
		{{ research.ticker.symbol }}</h1>

	{{ include('research/_form.html.twig') }}
	<hr/>
	<a href="{{ path('research_index') }}" class="btn btn-primary">
		<i class="fas fa-angle-double-left"></i>
		back to list</a>
{% endblock %}

