{% extends '@!BabDevPagerfanta/tailwind.html.twig' %}


{%- block current_page_link -%}
    <span aria-current="page"><span class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-500 bg-blue-400 border border-gray-300 cursor-default leading-5">{{- page -}}</span></span>
{%- endblock current_page_link -%}
