@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~summernote/dist/summernote-bs4.css';

.purple {
    background-color: #1B1022;
}

.book {
    background-color: #D0B294;
}

body {
    background-color: lightgray;
}
