@tailwind base;
@tailwind components;
@tailwind utilities;

/*
[data-turbo-preview] body {
    opacity: .2;
}
*/
.purple {
    background-color: #1B1022;
}

.book {
    background-color: #D0B294;
}

body {
    background-color: lightgray;
}

.ck-editor__editable_inline {
    min-height: 400px;
}


