{% extends 'base.html.twig' %}

{% block title %}Dividend Tracker!{% endblock %}

{% block body %}

	<div style="width:900px;height:600px">
        {{ render_chart(chart, {
                    'data-controller': 'chartjs-add-euro-sign'
                }) }}
    </div>

{% endblock %}
