<form action="{{ path(searchPath) }}" method="post" class="row">
    <input type="hidden" name="_method" value="POST">

    <div class="col">
       <input class="form-control" type="text" name="searchCriteria" id="text_search" value="{{ searchCriteria ?? ''}}" placeholder="{{ 'Search ticker'|trans }}"/>
    </div>
    <div class="col">
        <button class="btn btn-secondary mb-2" data-toggle="tooltip" data-placement="top" title="{{ 'Search ticker'|trans }}"><i class="fas fa-search"></i></button>
    </div>
</form>
