<div class="container" style="height:1.5em; display:block">
    <ul class="list-group  list-group-horizontal">
        <li class="list-group-item">Positions:
            <span class="badge badge-primary">{{ numPosition }}</span>
        </li>
        <li class="list-group-item">Tickers:
            <span class="badge badge-primary">{{ numTickers }}</span>
        </li>
        <li class="list-group-item">Total invested:
            <span class="badge badge-primary">&euro; {{ totalInvested }}</span>
        </li>
        <li class="list-group-item">Total dividend:
            <span class="badge badge-primary">&euro; {{ totalDividend }}</span>
        </li>
    </ul>
</div>
