<div class="container" style="height:1.5em; display:block">
    <ul class="list-group  list-group-horizontal">
        <li class="list-group-item">Holdings:
            <span class="badge badge-primary">{{ numPosition }}</span>
        </li>
        <li class="list-group-item">Total invested:
            <span class="badge badge-primary">&euro; {{ totalInvested|format_number({fraction_digit: 2}) }}</span>
        </li>
        <li class="list-group-item">Total return:
            <span class="badge badge-primary">&euro; {{ (profit/100)|format_number({fraction_digit: 2}) }}</span>
        </li>
        <li class="list-group-item">Total dividend:
            <span class="badge badge-primary">&euro; {{ totalDividend|format_number({fraction_digit: 2}) }}</span>
        </li>
    </ul>
</div>
