<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>

    {% block stylesheets %}
      {# 'app' must match the first argument to addEntry() in webpack.config.js #}
      {{ encore_entry_link_tags('app') }}

      <!--   Renders a link tag (if your module requires any CSS)
                                         <link rel="stylesheet" href="/build/app.css">   -->
    {% endblock %}
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      {% include 'menu.html.twig' %}
    </div>

    <div class="container" id="app">
      {% block body %}

      {% endblock %}
    </div>

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
