<header
  class="bg-gray-500 flex sm:justify-between sm:px-4 sm:py-1 sm:items-center"
  {{ stimulus_controller('toggle') }}>
    <div class="flex justify-between px-4 py-1 sm:p-0 items-center">

        <div class="font-bold text-xl font-mono text-gray-200">
        <span class="text-orange-400">Dev</span>Prof
        </div>

        <div>
        <button class="text-orange-400 focus:text-white focus:outline-none hover:text-white block"
            type="button"
            data-action="toggle#toggle" >
            <span>Open main menu</span>
        </button>
        </div>

    </div>
    <div class="hidden flex px-2 pt-2 pb-4 sm:pb-2" data-toggle-target="toggleable" data-css-class="hidden">
        <a href="/" class="block text-gray-200 font-semibold hover:bg-gray-800 rounded px-2 py-1">Home</a>
        <a href="/" class="block text-gray-200 font-semibold hover:bg-gray-800 rounded px-2 py-1 mt-1 sm:mt-0 sm:ml-2">Developers</a>
        <a href="/" class="block text-gray-200 font-semibold hover:bg-gray-800 rounded px-2 py-1 mt-1 sm:mt-0 sm:ml-2">Cool Stuff</a>
    </div>
</header>
