<div class="col-sm-3">
    <div class="card">
        <div class="card-header">
            {{ m.dividendMonth }}
        </div>
        <div class="card-body">
            {% for t in m.tickers %}
                {% if t.hasOpenPositions %}
                    <p class="card-text">{{ t.ticker }}, {{ t.positions.count }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
