<div class="col-sm-3">
    <div class="card">
        <div class="card-header">
            {{ m.dividendMonth }}
        </div>
        <div class="card-body">
            <ul class="list-group">
            {% for t in m.tickers %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>{{ t.ticker }}:</strong>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a class="btn btn-secondary" href="{{ path('calendar_new', {'ticker': t.id}) }}" data-toggle="tooltip" data-placement="top" title="add dividend date"><i class="far fa-calendar-alt"></i></a>
                    </div>
                </li>    
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
