{% extends 'base.html.twig' %}
{% block title %}Tickers per month dividendschema!{% endblock %}
{% block body %}
    <div class="flex flex-col items-center mb-6 mt-6 bg-white shadow-md rounded-lg p-6">
        <h1>Tickers per month dividendschema</h1>
        <div class="grid grid-cols-4 gap-4">
            {% for m in data %}
                <div class="mb-4">{% include 'report/dividendmonth/_card.html.twig' %}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
