<li class="w-full px-4 py-2 border-b border-gray-200  {% if this.first %}rounded-t-lg{% endif %} {% if this.last %}rounded-t-rg{% endif %} dark:border-gray-600">
	{% block content %}{% endblock %}
</li>
