{% extends 'base.html.twig' %}
{% block title %}Tickers per month dividendschema!{% endblock %}
{% block body %}
    <div class="flex flex-col items-center mb-6 mt-6 bg-white shadow-md rounded-lg p-6">
        <div style="width:900px;height:600px">
            {{ render_chart(chart, {
                        'data-controller': 'chartjs-add-euro-sign'
                        }) }}
        </div>
        {% if yieldChart|default %}
        <div style="width:900px;height:600px">
            {{ render_chart(yieldChart, {
                        'data-controller': 'chartjs-add-procent-sign'
                        }) }}
        </div>
        {% endif %}
    </div>
{% endblock %}
