{% extends 'base.html.twig' %}

{% block title %}Tickers per month dividendschema!
{% endblock %}

{% block body %}
	<div style="width:900px;height:600px">
        {{ render_chart(chart, {
                    'data-controller': 'chartjs-add-euro-sign'
                }) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('linechart') }}
{% endblock %}
