{% extends 'base.html.twig' %}

{% block title %}Edit Industry{% endblock %}

{% block body %}
    <h1>Edit Industry</h1>

    {{ include('branch/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('branch_index') }}">back to list</a>

    {{ include('branch/_delete_form.html.twig') }}
{% endblock %}
