{% extends 'base.html.twig' %}

{% block title %}New industry{% endblock %}

{% block body %}
    <h1>Create new industry</h1>

    {{ include('branch/_form.html.twig') }}
<hr/>
    <a href="{{ path('branch_index') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> back to list</a>
{% endblock %}
