{% extends 'base.html.twig' %}

{% block title %}New industry{% endblock %}

{% block body %}
    <h1>Create new industry</h1>

    {{ include('branch/_form.html.twig') }}

    <a href="{{ path('branch_index') }}">back to list</a>
{% endblock %}
